name: commit-lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: dogfood
        uses: ./
        with:
          token: ${{ github.token }}
